.user-token-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  z-index: 0;
}

.user-token-tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.user-token-tooltip .user-token-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.user-token-tooltip:hover .user-token-tooltip-text {
    visibility: visible;
}

.ocean-ui-comments-commentbase-body {
  .ocean-ui-comments-commentbase-krep {
    margin-left: 16px;
    white-space: nowrap;
    color: #6f6f6f;
    opacity: 0;
  }
  &:hover .ocean-ui-comments-commentbase-krep {
    margin-left: 16px;
    white-space: nowrap;
    opacity: 1;
  }
}

.ocean-ui-comments-commentbase-krep {
  transition: opacity .5s;
}

.krep-popup {
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 80px;
  border: solid 1px black;
}
